body {
  padding: 0px;
  margin: 0px;
}

.page-header {
  padding: 0px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.col-3 {
  background-color: #E8E8E8;
}

.fiveDay {
  font-size: 3vh;
}

#forecast {
  padding: 2px;
  margin: 0 auto;
  
}

